# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  bucket:
    type: string
    default: mlpipeline
    description: S3 bucket name
  key-format:
    type: string
    default: "artifacts/{{workflow.name}}/{{workflow.creationTimestamp.Y}}/{{workflow.creationTimestamp.m}}/{{workflow.creationTimestamp.d}}/{{pod.name}}"
    description: S3 key prefix
  executor-image:
    type: string
    default: quay.io/argoproj/argoexec:v3.7.3
    description: |
      Image to use for runtime executor. Should be updated alongside updating the rest of the charm's images.
  kubelet-insecure:
    type: boolean
    default: true
    description: |
      If true, Argo will skip checking kubelet's TLS certificate. Has no effect
      with other executors.
