# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  bucket:
    type: string
    default: mlpipeline
    description: S3 bucket name
  key-format:
    type: string
    default: "artifacts/{{workflow.name}}/{{workflow.creationTimestamp.Y}}/{{workflow.creationTimestamp.m}}/{{workflow.creationTimestamp.d}}/{{pod.name}}"
    description: S3 key prefix
  executor:
    type: string
    default: pns
    description: |
      Runtime executor for workflow containers. Cannot be `docker` on containerd,
      for a full list of executors, see https://github.com/argoproj/argo/tree/master/workflow/executor
  kubelet-insecure:
    type: boolean
    default: false
    description: |
      If true, Argo will skip checking kubelet's TLS certificate. Has no effect
      with other executors.
