# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.
coverage
pytest
pytest-mock

# Added because of https://github.com/canonical/bundle-kubeflow/issues/1258
# Once the above are resolved, we should remove those packages and
# instead do: -r requirements.txt
charmed-kubeflow-chisme>=0.2.0
cosl
