aiohttp
jinja2
# Pinning to <4.0 due to compatibility with the 3.1 controller version
juju<4.0
pytest-operator
requests
tenacity
git+https://github.com/rgildein/charmed-kubeflow-chisme.git@chore/KF-5731/cos-testing
