apiVersion: v1
data:
  artifactRepository: |
    s3:
      endpoint: {{ s3_minio_endpoint }}
      bucket: {{ s3_bucket }}
      insecure: {{ kubelet_insecure }}
      accessKeySecret:
        name: {{ mlpipeline_minio_artifact_secret }}
        key: accesskey
      secretKeySecret:
        name: {{ mlpipeline_minio_artifact_secret }}
        key: secretkey
  containerRuntimeExecutor: {{ runtime_executor }}
  executor: |
    imagePullPolicy: IfNotPresent
kind: ConfigMap
metadata:
  name: {{ argo_controller_configmap }}
  namespace: {{ namespace }}
