apiVersion: v1
kind: Secret
metadata:
  labels:
    app: minio
  name: {{ mlpipeline_minio_artifact_secret }}
  namespace: {{ namespace }}
stringData:
  accesskey: {{ access_key }}
  secretkey: {{ secret_key }}
type: Opaque
