# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: true

jobs:
  lib-check:
    name: Check libraries
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/_quality-checks.yaml@main
    secrets: inherit
    with:
      charm-path: ./charms/argo-controller

  lint:
    name: Lint Code
    runs-on: ubuntu-24.04
    steps:
    - name: Check out repo
      uses: actions/checkout@v4
    - run: pipx install tox
    - run: tox -vve argo-controller-lint

  unit:
    name: Unit Tests
    runs-on: ubuntu-24.04
    steps:
    - name: Check out repo
      uses: actions/checkout@v4
    - run: pipx install tox
    - run: tox -vve argo-controller-unit

  terraform-checks:
    name: Terraform
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/terraform-checks.yaml@main
    with:
      charm-path: ./charms/argo-controller

  integration:
    name: Integration Test
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        charm: [argo-controller]
    steps:
    - name: Maximise GH runner space
      uses: easimon/maximize-build-space@v8
      with:
        root-reserve-mb: 34816
        remove-dotnet: 'true'
        remove-haskell: 'true'
        remove-android: 'true'
        remove-codeql: 'true'
        remove-docker-images: 'true'
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: pipx install tox

    - name: Setup environment
      run: |
        sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
        sudo rm -rf /run/containerd
        sudo snap install concierge --classic
        sudo concierge prepare --trace

    - name: Build and test
      working-directory: ./charms/${{ matrix.charm }}
      run: |
        tox -vve integration -- --model testing

      # On failure, capture debugging resources
    - name: Get all
      run: kubectl get all -A
      if: failure()

    - name: Describe deployments
      run: kubectl describe deployments -A
      if: failure()

    - name: Describe replicasets
      run: kubectl describe replicasets -A
      if: failure()

    - name: Get juju status
      run: juju status
      if: failure()

    - name: Get application logs
      run: kubectl logs -n testing --tail 1000 -lapp.kubernetes.io/name=${{ matrix.charm }}
      if: failure()

    - name: Get argo-controller operator logs
      run: kubectl logs -n testing --tail 1000 -loperator.juju.is/name==${{ matrix.charm }}
      if: failure()
