# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      charmcraft-credentials:
        required: true

jobs:

  lib-check:
    name: Check libraries
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        charm:
        - argo-controller
        - argo-server
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Check libs
      uses: canonical/charming-actions/check-libraries@2.2.2
      with:
        charm-path: ./charms/${{ matrix.charm }}
        credentials: "${{ secrets.charmcraft-credentials }}"
        github-token: "${{ secrets.GITHUB_TOKEN }}"

  lint:
    name: Lint Code
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        charm: [argo-controller, argo-server]
    steps:
    - name: Check out repo
      uses: actions/checkout@v3
    - run: |
        sudo apt update
        sudo apt install tox
    - run: tox -vve ${{ matrix.charm }}-lint

  unit:
    name: Unit Tests
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        charm: [argo-controller, argo-server]
    steps:
    - name: Check out repo
      uses: actions/checkout@v3
    - run: |
        sudo apt update
        sudo apt install tox
    - run: tox -vve ${{ matrix.charm }}-unit

  integration:
    name: Integration Test
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        charm: [argo-controller]
    steps:
    - uses: actions/checkout@v3
    - name: Setup operator environment
      uses: charmed-kubernetes/actions-operator@main
      with:
        provider: microk8s
        channel: 1.24/stable
        # Pinned until this bug is resolved: https://bugs.launchpad.net/juju/+bug/1992833
        bootstrap-options: "--agent-version=2.9.34"
        microk8s-addons: "dns storage rbac metallb:10.64.140.43-10.64.140.49"

      # TODO: Remove once the actions-operator does this automatically
    - name: Configure kubectl
      run: |
        sg microk8s -c "microk8s config > ~/.kube/config"

    - name: Build and test
      working-directory: ./charms/${{ matrix.charm }}
      run: |
        sg microk8s -c "tox -vve integration -- --model testing"

      # On failure, capture debugging resources
    - name: Get all
      run: kubectl get all -A
      if: failure()

    - name: Describe deployments
      run: kubectl describe deployments -A
      if: failure()

    - name: Describe replicasets
      run: kubectl describe replicasets -A
      if: failure()

    - name: Get juju status
      run: juju status
      if: failure()

    - name: Get application logs
      run: kubectl logs -n testing --tail 1000 -ljuju-app=${{ matrix.charm }}
      if: failure()

    - name: Get argo-controller operator logs
      run: kubectl logs -n testing --tail 1000 -ljuju-operator=${{ matrix.charm }}
      if: failure()
