name: On Pull Request Closed

#

on:
  pull_request_target:
    types: [closed]
    branches:
    - main

permissions:
  contents: write
  pull-requests: write

jobs:

  backport:
    name: Backport pull request
    if: github.event.pull_request.merged
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/backport-pr.yaml@manos-backport-automation
    secrets:
      CHACI_GPG_PRIVATE: ${{ secrets.CHACI_GPG_PRIVATE }}
      CHACI_GPG_PASSPHRASE: ${{ secrets.CHACI_GPG_PASSPHRASE }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
